body{
    background-color: green;
}

.verde{
    background-color: green;
}
h2.letraVerde{
    color: white;
}
h2.letraRoja{
    display: none;
}

@media (min-width: 800px){
    .verde{
        display: none;
    }
    body{
        background-color: red;
    }
    .rojo{
        color: white;
    }
    h2.letraRoja{
        color: white;
        display: block;
    }
    h2.letraVerde{
        display: none;
    }
}